name: Run Tests

# have the workflow run on pushes to all feature brances so that you can see tests pass before creating PR
on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    # Set the working directory for all steps
    defaults:
      run:
        working-directory: ./project_portfolio  # ← IMPORTANT: Point to app directory
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: './project_portfolio/package-lock.json'  # ← Specify path to package-lock.json
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run tests
        run: npm test -- --watchAll=false --coverage